@model ActivityLoggerApp.ViewModels.BikeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Bike</legend>

        <div class="editor-label">
            Bike Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bike.Name)
            @Html.ValidationMessageFor(model => model.Bike.Name)
        </div>
        
        <div class="editor-label">
            Rider Name
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(
            model => model.Bike.Person.Id,
            Model.Persons
            )
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bike.Type)
        </div>

        <div class="editor-field">
            @Html.RadioButtonListFor(
            model => model.Bike.Type,
            Model.BikeTypes
            )
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>