@model ActivityLoggerApp.Models.Bike

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Bike</legend>

    <div class="display-label">Rider Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person.Name)
    </div>

    <div class="display-label">Bike Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Bike Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
