@model ActivityLoggerApp.ViewModels.BikeViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Bike</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Bike.Id)
        </div>
        
        <div class="editor-label">
            Bike Name
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bike.Name)
            @Html.ValidationMessageFor(model => model.Bike.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bike.Person.Name, "Rider Name")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(
            model => model.Bike.Person.Id,
            Model.Persons
            )
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bike.Type)
        </div>
        <div class="editor-field" id="radio">
            @Html.RadioButtonListFor(x => x.Bike.Type, Model.BikeTypes)
            
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
