@model ActivityLoggerApp.ViewModels.PersonViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Rider</legend>

        @Html.HiddenFor(model => model.Person.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Name)
            @Html.ValidationMessageFor(model => model.Person.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Weight)
            @Html.ValidationMessageFor(model => model.Person.Weight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Dob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Person.Dob)
            @Html.ValidationMessageFor(model => model.Person.Dob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Category)
        </div>
        <div class="editor-field" id="radio">
            @Html.EditorFor(model => model.Person.Category)
            @Html.ValidationMessageFor(model => model.Person.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Person.Bikes, "Bikes")
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(
            model => model.Person.Bikes,
            Model.Bikes
            )
        </div>
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
